/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
.row{
    height: 100em;
}
body{
    padding: 3.5em 0;
}
#editor{
   font-size:large; 
   font-family: 'Hack';
}

/* #MainNavBar {
    display: flex;
    background-color: black;
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.4,0,.2,1);
}
#MainNavBar a {
      color: white;
      text-decoration: none;
}
#MainNavBar > * {
    padding: 1rem;
}
body {
    margin: 0;
}
.nav-container:hover #MainNavBar {
    transform: translateY(0);
} */